In [1]:
# print 0 to 20 by using range

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
# print range 10 to 20

In [11]:
for num in range(10,20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [12]:
# Print number of items in the list by using 'len'

In [35]:
Lists = [10, 20, 14, 55, 43, 87, 76]
num_of_items = len(Lists)
print("Number of item in the List2:")
print(num_of_items)

Number of item in the List2:
7

In [27]:
print("Artificial Intelligence")
Lists='Artificial Intelligence'
for temp in Lists:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [33]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [36]:
# Print this mixered datatype using Tuples

In [37]:
mixed_tuple = (1, 'Welcome', 2, 'Hope')
print(mixed_tuple)

(1, 'Welcome', 2, 'Hope')

In [ ]:
# Print nested datatype using Tuples

In [38]:
nested_tuple = ((0, 1, 2, 3), ('phython', 'HOPE'))
print(nested_tuple)

((0, 1, 2, 3), ('phython', 'HOPE'))

In [39]:
# print Odd Numbers in the list

In [3]:
List= (20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if (num % 2 == 1):
        print(num, "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [4]:
# print Even numbers in the list

In [5]:
List= (20,10,16,19,25,1,276,188)
print(List)
for num in List:
    if (num % 2 == 0):
        print(num, "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even