In [3]:
#print Statement

In [4]:
print("HOPE AI")

HOPE AI

In [ ]:
# Buy input

In [3]:
Name= input("Enter your institute name?: ")

Enter your institute name?: HOPE AI

In [20]:
#Buy inputs

In [2]:
Name= input("Enter your name: ")
Age= int(input("Enter your age: "))
School= input("Enter your school name: ")
Degree= input("Enter your degree: ")

Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your degree: B.E CSE

In [24]:
#Addition

In [37]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
print("add =",num1+num2)

a= 43
b= 34
add = 77

In [26]:
#Subtraction

In [38]:
num1=43
print("a=",num1)
num2=34
print("b=",num2)
print("Sub =",num1-num2)

a= 43
b= 34
Sub = 9

In [29]:
#Multiplication

In [39]:
num1=63
print("a=",num1)
num2=97
print("b=",num2)
print("Mul =",num1*num2)

a= 63
b= 97
Mul = 6111

In [31]:
#Division

In [40]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
print("Float Div =",num1/num2)

a= 76
b= 31
Float Div = 2.4516129032258065

In [35]:
#Floor division

In [41]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
print("Floor Div =",num1//num2)

a= 76
b= 31
Floor Div = 2

In [42]:
#Modulo

In [43]:
num1=76
print("a=",num1)
num2=31
print("b=",num2)
print("Modulo =",num1%num2)

a= 76
b= 31
Modulo = 14

In [44]:
#Power

In [45]:
num1=4
print("a=",num1)
num2=4
print("b=",num2)
print("Power =",num1**num2)

a= 4
b= 4
Power = 256